.body {
  min-width: 360px;

  background-color: $clr-beige100;
  color: $clr-white;
  font-family: $primary-font-family;
  font-style: $primary-font-style;

  &__header {
    padding: 0 $header-sidepadding;

    @include mobile {
      padding: 0 $header-sidepadding-mobile;
    }
  }
  &__tours {
    padding: $unifiedblock-toppadding $blocktype_1-sidepadding 0;

    @include mobile {
      padding: $unifiedblock-toppadding-mobile $unifiedblock-sidepadding-mobile
        0;
    }
  }
  &__form {
    padding: $unifiedblock-toppadding $blocktype_1-sidepadding 0;

    @include mobile {
      padding: $unifiedblock-toppadding-mobile $unifiedblock-sidepadding-mobile
        0;
    }
  }
  &__feedback {
    padding: $unifiedblock-toppadding $blocktype_1-sidepadding 0;

    @include mobile {
      padding: $unifiedblock-toppadding-mobile $unifiedblock-sidepadding-mobile
        0;
    }
  }
  &__unifiedblock {
    padding: $unifiedblock-toppadding $unifiedblock-sidepadding 0;

    @include tablet {
      padding: $unifiedblock-toppadding $unifiedblock-sidepadding-tablet 0;
    }

    @include mobile {
      padding: $unifiedblock-toppadding-mobile $unifiedblock-sidepadding-mobile
        0;
    }
  }
  &__footer {
    margin-top: $unifiedblock-toppadding;
    padding: 30px $blocktype_1-sidepadding;

    @include mobile {
      margin-top: $unifiedblock-toppadding-mobile;
      padding: 21px 0;
    }
  }
}
