.feedback-element {
  width: 570px;
  padding: 37px 40px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 70px;

  background: $clr-beige200;
  border-radius: 50px;

  @include tablet {
    width: 450px;
  }

  @include mobile {
    width: 318px;
    padding: 22px 20px;

    gap: 40px;

    border-radius: 20px;
  }

  &__text {
    font-style: normal;
    color: $clr-black;

    @include font(
      $font-size-pbig,
      $font-weight-bold,
      $font-lineheight-l,
      normal
    );

    @include mobile {
      @include font(
        $font-size-p-mobile,
        $font-weight-bold,
        $font-lineheight-xxl,
        normal
      );
    }
  }
  &__foot {
    display: flex;
    justify-content: space-between;

    @include mobile {
      align-items: end;
    }
  }
  &__sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__author {
    color: $clr-black;

    @include font(
      $font-size-h3,
      $font-weight-medium,
      $font-lineheight-l,
      normal
    );

    @include mobile {
      @include font(
        $font-size-pbig,
        $font-weight-bold,
        $font-lineheight-m,
        $font-letterspacing-large
      );
    }
  }
  &__tour {
    color: $clr-gray300;
    @include font(
      $font-size-psmall,
      $font-weight-regular,
      $font-lineheight-xxl,
      $font-letterspacing-small
    );

    @include mobile {
      @include font(
        $font-size-p-mobile,
        $font-weight-regular,
        $font-lineheight-xxl,
        $font-letterspacing-small
      );
    }
  }
  &__picture {
    border-radius: 100px;
  }
}
