.title {
  color: $clr-black;
  text-align: center;
  @include font($font-size-h2, $font-weight-bold, $font-lineheight-xl, normal);

  @include mobile {
    @include font(
      $font-size-h2-mobile,
      $font-weight-bold,
      $font-lineheight-s,
      $font-letterspacing-medium
    );
  }
  &_type_1 {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}
