.tours-menu {
  margin-bottom: 106px;

  @include flex(null, null, center);
  flex-wrap: wrap;
  gap: 30px;

  @include mobile {
    margin-bottom: 50px;
    gap: 10px;
  }

  &__link {
    padding: 0;

    border: none;
    color: $clr-black;
    outline: none;
    background: transparent;
    cursor: pointer;

    @include font(
      $font-size-pbig,
      $font-weight-bold,
      $font-lineheight-l,
      normal
    );

    @include mobile {
      @include font(
        $font-size-p-mobile,
        $font-weight-bold,
        $font-lineheight-xxl,
        normal
      );
    }
    &:hover {
      text-decoration: underline 2px;
      text-underline-offset: 10px;

      @include mobile {
        text-underline-offset: 3px;
      }
    }
    &:active {
      text-decoration-color: currentColor;
      color: $clr-orange200;
    }
    &_active {
      text-decoration: underline 2px;
      text-underline-offset: 10px;
      color: $clr-orange200;
      @include mobile {
        text-underline-offset: 3px;
      }
    }
  }
}
