$clr-black: #1b1f2b;
$clr-white: #ffffff;
$clr-orange200: #efa501;
$clr-orange100: #f8e6be;
$clr-green400: #286562;
$clr-green300: #3b7e7b;
$clr-green200: #627f7e;
$clr-green100: #e0f0e5;
$clr-gray300: #a6a6a6;
$clr-gray200: #d9dfdb;
$clr-gray100: #f1f3f2;
$clr-beige200: #f4f0e9;
$clr-beige100: #f9f7f4;

$primary-font-family: "Roboto";
$primary-font-style: normal;

$font-size-h1: 96px;
$font-size-h2: 59px;
$font-size-h3: 35px;
$font-size-h1-2-mobile: 34px;
$font-size-pbig: 23px;
$font-size-pnormal: 20px;
$font-size-psmall: 17px;
$font-size-p-mobile: 16px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-lineheight-xxl: 142%;
$font-lineheight-xl: 124%;
$font-lineheight-l: 122%;
$font-lineheight-m: 120%;
$font-lineheight-s: 112%;
$font-lineheight-xs: 109%;

$font-letterspacing-large: 0.04em;
$font-letterspacing-medium: 0.02em;
$font-letterspacing-small: -0.01em;

$unifiedblock-toppadding: 135px;
$unifiedblock-sidepadding: 29px;
$unifiedblock-sidepadding-tablet: 20px;
$unifiedblock-toppadding-mobile: 75px;
$unifiedblock-sidepadding-mobile: 21px;

$header-height: 831px;
$header-height-nobile: 488px;
$header-sidepadding: 57px;
$header-sidepadding-mobile: 20px;

//these variable is used in tours, form, feedback and footer blocks
$blocktype_1-sidepadding: 53px;
